<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="navigateBack()">Products(navigated in Component)</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>